@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url(/Users/oleksiimarchenko/Documents/EthtWorks/fonts.css);
* {
  margin: 0;
  padding: 0;
  color: #263396;
  font-family: 'Montserrat',sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button,
input[type="submit"] {
  cursor: pointer;
}

[class*="header"] {
  font-size: 16px;
  line-height: 34px;
  letter-spacing: 12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
}

body {
  min-height: 200vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 100px;
  z-index: 10000;
  -webkit-transition: .6s;
  transition: .6s;
}

header.sticky {
  padding: 5px 100px;
  background: #fff;
}

header.sticky .logo,
header .logo {
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 2em;
}

header nav ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

header nav ul li a.active {
  border-bottom: 2px solid #5454D4;
}

header nav ul li:first-child a {
  text-transform: uppercase;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__content {
  background: #263396;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 70px;
  height: calc(100vh -70px);
}

.main__content .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 15px;
}

.main__content .left__message {
  color: #fff;
  max-width: 569px;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: .2px;
  text-align: left;
  line-height: 56px;
}

.main__content .left__subscribe {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 480px;
  height: 95px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

.main__content .left__subscribe p {
  color: #fff;
  opacity: .7;
}

.main__content .left__subscribtionElement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.main__content .left input {
  height: 46px;
  border-radius: 25px;
  padding: 20px;
  width: 480px;
}

.main__content .left button {
  border-radius: 25px;
  background: #38A5DB;
  position: absolute;
  right: 0;
  height: 46px;
  width: 154px;
  color: #fff;
}

.main__content .left input, .main__content .left button {
  border: none;
  outline: none;
}

.main__content .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100vh - 70px);
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0;
}

.main__content .right .socialButtons {
  position: fixed;
  bottom: 50px;
  right: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 110px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__content .right .socialButtons button {
  border-radius: 50%;
  padding: 10px;
  background: #63C7FF;
}

.main__content .right img {
  border-radius: 25px;
}

.main__arrowDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -65px 0 45px;
}

.main__arrowDown button {
  background: transparent;
  border: 1px solid rgba(231, 231, 231, 0.3);
  border-radius: 50%;
  padding: 15px;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 88px 0;
}

.team__members {
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.team__members div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
}

.team__members div img {
  border-radius: 50%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.team__members div p {
  margin: 7px 0;
  text-align: center;
}

.team__members div p.name {
  color: #38A5DB;
}

.team__members div p.position {
  color: #011226;
}

.team__members div p.description {
  color: #45515F;
}

.team__members div .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__members div .social button {
  border: 1px solid #7F8B98;
  margin: 0 15px;
  background: transparent;
  border-radius: 3px;
  width: 43px;
  height: 23px;
}

.contact {
  padding: 88px 0 50px;
  height: 85vh;
  background: #252B42;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__description {
  font-size: 18px;
  width: 25%;
  text-align: center;
}

.contact__header, .contact__description {
  color: #fff;
}

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 30px 30px;
  background-color: #4250BF;
  position: static;
  width: 401px;
  height: 370px;
  left: 0px;
  top: 0px;
  border-radius: 13px;
}

.contact form input[type="text"],
.contact form input[type="email"],
.contact form input[type="submit"] {
  height: 45px;
  border-radius: 25px;
  padding: 13px;
}

.contact form input[type="text"],
.contact form input[type="email"] {
  width: 100%;
}

.contact form input[type="submit"] {
  width: 95px;
  background-color: #38A5DB;
  -webkit-box-shadow: 0px 12px 44px rgba(56, 165, 219, 0.6);
          box-shadow: 0px 12px 44px rgba(56, 165, 219, 0.6);
  color: #fff;
  border-radius: 23px;
}

.contact form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact form div input[type="checkbox"] {
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 4px;
  vertical-align: middle;
  border: 1px solid #fff;
  -webkit-appearance: none;
}

.contact form div label {
  margin: 0 10px;
  color: #fff;
}

footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#FAFBFF), color-stop(41.68%, #EFF1F9), color-stop(49.59%, #E9ECF6), color-stop(93.91%, #CED3E8));
  background: linear-gradient(180deg, #FAFBFF 0%, #EFF1F9 41.68%, #E9ECF6 49.59%, #CED3E8 93.91%);
  height: 225px;
}

footer .footer,
footer .links {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 100px;
}

footer .footer .logo {
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 2em;
}

footer .footer__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 100px;
}

footer .footer__email * {
  margin: 20px 0 0;
}

footer .footer__email a {
  color: #0F81FF;
}

footer .footer__wallpaperlink {
  width: 220px;
  height: 46px;
  background-color: #38A5DB;
  -webkit-box-shadow: 0px 12px 44px rgba(56, 165, 219, 0.6);
          box-shadow: 0px 12px 44px rgba(56, 165, 219, 0.6);
  color: #fff;
  border-radius: 23px;
}

footer .links {
  padding: 50px 300px 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .links p, footer .links a {
  color: #45515F;
}

footer .links p:not(:last-child)::after, footer .links a:not(:last-child)::after {
  content: '|';
  margin: 0 50px;
  color: #9CA4C7;
}

footer .links a {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */