@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*TABLET*/
/* -------------generic part -------------------------  */
* {
  margin: 0;
  padding: 0;
  color: #263396;
  font-size: 16px;
  font-family: "Sen-Regular";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  position: relative;
  color: inherit;
  text-decoration: none;
  line-height: 24px;
}

a:before {
  content: "";
  position: absolute;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

a,
button,
input[type="submit"] {
  cursor: pointer;
}

[class*="header"] {
  line-height: 34px;
  letter-spacing: 12px;
  text-transform: uppercase;
}

.logo {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-size: 2em;
}

.container {
  position: relative;
}

#popupContainer {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

/*specific part*/
header {
  position: fixed;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 100px;
  z-index: 10000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header.sticky {
  padding: 5px 100px;
  background: #fff;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  position: relative;
  margin: 0 15px;
  letter-spacing: 2px;
}

header nav ul li a.active {
  border-bottom: 2px solid #5454d4;
}

header nav ul li:first-child a {
  text-transform: uppercase;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("./assets/BG.svg");
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-size: cover;
  margin-top: 70px;
  padding: 0 4vw 0 8vw;
  top: 50px;
  background-position: 50% 20%;
  min-height: 110vh;
}

.main__content .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 100px 0;
}

.main__content .left__message {
  color: #fff;
  max-width: 569px;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.2px;
  text-align: left;
}

.main__content .left__subscribe {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 480px;
  height: 95px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

.main__content .left__subscribe p {
  color: #fff;
  opacity: 0.7;
  font-size: 18px;
}

.main__content .left__subscribtionElement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.main__content .left input {
  width: 480px;
  height: 46px;
  border-radius: 25px;
  padding: 20px;
}

.main__content .left button {
  height: 46px;
  width: 154px;
  position: absolute;
  right: 0;
  border-radius: 25px;
  background: #38A5DB;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main__content .left button:hover {
  background: #2b99cf;
}

.main__content .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 300px 0;
}

.main__content .right .socialButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  height: 100px;
  bottom: 5vh;
  right: 5vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__content .right .socialButtons button {
  border-radius: 50%;
  padding: 10px;
  background: #63C7FF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main__content .right .socialButtons button:hover {
  background: #2b99cf;
}

.main__content .right__player {
  position: relative;
}

.main__content .right__player img {
  width: 100%;
  border-radius: 10px;
}

.main__content .right__player--click {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url("./assets/play.svg");
}

.main__arrowDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -27vh 0 10vh;
}

.main__arrowDown a {
  background: transparent;
  border: 1px solid rgba(231, 231, 231, 0.3);
  border-radius: 50%;
  padding: 15px;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 88px 0;
  overflow-x: scroll;
}

.team__members {
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.team__members div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
}

.team__members div img {
  width: 100%;
  border-radius: 50%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.team__members div p {
  margin: 7px 0;
  text-align: center;
}

.team__members div p.name {
  color: #38A5DB;
  font-size: 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.team__members div p.name:hover {
  color: #2b99cf;
  cursor: pointer;
}

.team__members div p.position {
  opacity: 0.5;
  color: #011226;
  font-size: 13px;
  font-family: "Open-sans", sans-serif;
}

.team__members div p.description {
  color: #45515F;
  font-size: 18px;
  line-height: 24px;
}

.team__members div .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}

.team__members div .social button {
  width: 43px;
  height: 23px;
  border: 1px solid #7f8b98;
  margin: 0 15px;
  background: transparent;
  border-radius: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.team__members div .social button:hover {
  border: 1px solid #45515F;
}

.contact {
  padding: 10vh 0 5vh;
  min-height: 85vh;
  background: #252B42;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__description {
  font-size: 18px;
  width: 40vw;
  text-align: center;
}

.contact__header, .contact__description {
  color: #fff;
}

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 30px 30px;
  background-color: #4250BF;
  position: static;
  width: 401px;
  height: 370px;
  left: 0px;
  top: 0px;
  border-radius: 13px;
}

.contact form input[type="text"],
.contact form input[type="email"],
.contact form input[type="submit"] {
  height: 45px;
  border-radius: 25px;
  padding: 13px;
}

.contact form input[type="text"],
.contact form input[type="email"] {
  width: 100%;
}

.contact form input[type="submit"] {
  width: 95px;
  background-color: #38A5DB;
  -webkit-box-shadow: 0px 12px 44px rgba(56, 165, 219, 0.6);
          box-shadow: 0px 12px 44px rgba(56, 165, 219, 0.6);
  color: #fff;
  border-radius: 23px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact form input[type="submit"]:hover {
  background: #2b99cf;
}

.contact form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact form div input[type="checkbox"] {
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 4px;
  vertical-align: middle;
  border: 1px solid #fff;
  -webkit-appearance: none;
}

.contact form div label {
  margin: 0 10px;
  color: #fff;
}

footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#fafbff), color-stop(41.68%, #eff1f9), color-stop(49.59%, #e9ecf6), color-stop(93.91%, #ced3e8));
  background: linear-gradient(180deg, #fafbff 0%, #eff1f9 41.68%, #e9ecf6 49.59%, #ced3e8 93.91%);
  height: 225px;
}

footer .footer,
footer .links {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__layer1 footer .footer__layer2 p,
footer .footer__layer1 footer .footer__layer2 a:not(.logo),
footer .links__layer1 footer .footer__layer2 p,
footer .links__layer1 footer .footer__layer2 a:not(.logo), footer .footer__layer1
footer .links__layer2 p,
footer .footer__layer1
footer .links__layer2 a:not(.logo),
footer .links__layer1
footer .links__layer2 p,
footer .links__layer1
footer .links__layer2 a:not(.logo) {
  font-size: 18px;
}

footer .footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 100px;
}

footer .footer__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 100px;
}

footer .footer__email * {
  margin: 20px 0 0;
}

footer .footer__email a {
  color: #0F81FF;
}

footer .footer__wallpaperlink {
  width: 220px;
  height: 46px;
  background-color: #38A5DB;
  -webkit-box-shadow: 0px 12px 44px rgba(56, 165, 219, 0.6);
          box-shadow: 0px 12px 44px rgba(56, 165, 219, 0.6);
  color: #fff;
  border-radius: 23px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .footer__wallpaperlink:hover {
  background: #2b99cf;
}

footer .links {
  padding: 40px 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .links__layer1, footer .links__layer2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 30vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .links__layer1 p {
  margin: 3px 0 0 0;
}

footer .links__layer1 p, footer .links__layer1 a {
  color: #45515F;
}

footer .links__layer1 p:after, footer .links__layer1 a:after {
  content: "|";
  margin-left: 5vw;
}

footer .links__layer2 a {
  color: #45515F;
}

footer .links__layer2 a:not(:last-child):after {
  content: "|";
  margin-left: 5vw;
}

/* popup for teams members*/
.popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: white;
  border-radius: 20px;
  width: 26vw;
  height: 71vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.popup__closeBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.popup__close {
  border-radius: 50%;
  width: 25px;
  height: 27px;
  background: transparent;
  border: 1px solid #828282;
}

.popup .description {
  padding: 10px 0;
  margin: 10px 0;
  border-radius: 20px;
  overflow: scroll;
  height: 100%;
  width: 100%;
}

.popup .description__text {
  color: #45515F;
}

.popup .name {
  padding: 12px 0;
  font-size: 40px;
  color: #38A5DB;
  text-align: center;
}

.popup .position {
  padding: 12px 0;
  opacity: 0.5;
  color: #011226;
  font-size: 13px;
  font-family: "Open-sans", sans-serif;
}

/*TABLET MODE*/
@media (max-width: 1400px) and (min-width: 1000px) {
  .contact {
    padding: 5vh 0 5vh;
    min-height: 50vh;
  }
}

@media (max-width: 1023px) and (min-width: 767px) {
  .contact {
    padding: 5vh 0 5vh;
    min-height: 65vh;
  }
  .contact__description {
    width: 45vw;
  }
}

@media (max-width: 550px) and (min-width: 280px) {
  header,
  header.sticky {
    padding: 5px 1vw;
  }
  header a.logo,
  header.sticky a.logo {
    font-size: x-large;
  }
  .main__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    min-height: 130vh;
  }
  .main__content .left {
    padding: 10vw;
  }
  .main__content .left__message {
    font-size: 24px;
    padding: 3vw 0 0 0;
    line-height: 32px;
  }
  .main__content .left__subscribe {
    margin-top: 5vh;
    width: 85vw;
  }
  .main__content .left__subscribe p {
    font-size: 18px;
  }
  .main__content .left__subscribtionElement {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__content .left__subscribtionElement input,
  .main__content .left__subscribtionElement button {
    width: 90vw;
    margin: 5px 0;
    font-size: small;
  }
  .main__content .left__subscribtionElement button {
    position: unset;
  }
  .main__content .right {
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__content .right__player {
    width: 60vw;
  }
  .main__arrowDown {
    margin: -60vh 0 10vh;
  }
  .team {
    margin: 35vh 0 10vh;
  }
  .contact__description {
    width: 90vw;
    font-size: small;
  }
  .contact form {
    width: 80vw;
    height: 50vh;
    padding: 5vh 5vh 7vh;
  }
  .contact form input[type="text"],
  .contact form input[type="submit"],
  .contact form input[type="email"] {
    height: 7vh;
    font-size: small;
  }
  footer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  footer .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2vh 1vw;
  }
  footer .footer__logoContainer {
    width: 100%;
  }
  footer .footer__logoContainer a.logo {
    font-size: x-large;
  }
  footer .footer__email {
    margin: 0;
  }
  footer .footer__email * {
    margin: 0;
  }
  footer .footer__wallpaperlink {
    width: 40vw;
    height: 5vh;
    margin-top: 3vh;
    font-size: small;
    padding: 0;
  }
  footer .links {
    padding: 2vh 10px;
    background: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 12px;
  }
  footer .links__layer1, footer .links__layer2 {
    width: 100%;
  }
  footer .links__layer1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .links__layer1 p,
  footer .links__layer1 a {
    color: #45515F;
  }
  footer .links__layer1 p::after,
  footer .links__layer1 a::after {
    content: "";
    margin: 0 3vw;
    color: #9CA4C7;
  }
  footer .links__layer1 p:first-child::after,
  footer .links__layer1 a:first-child::after {
    margin: 0 0 0 6vw;
  }
  footer .links__layer2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 7vw;
  }
  footer .links__layer2 p,
  footer .links__layer2 a {
    color: #45515F;
  }
  footer .links__layer2 p::after,
  footer .links__layer2 a::after {
    content: "";
    margin: 0 3vw;
    color: #9CA4C7;
  }
  footer .links__layer2 p:not(:last-child):after,
  footer .links__layer2 a:not(:last-child):after {
    content: "";
  }
  footer .links__layer2 p:first-child::after,
  footer .links__layer2 a:first-child::after {
    margin: 0 0 0 6vw;
  }
  .popup {
    width: 90vw;
  }
  .popup .name {
    font-size: large;
  }
}

@media (max-width: 1025px) and (min-width: 551px) {
  header,
  header.sticky {
    padding: 5px 2vw;
  }
  .main__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    min-height: 101vh;
  }
  .main__content .left {
    padding: 10vw;
  }
  .main__content .left__message {
    font-size: xx-large;
    padding: 3vw 0 0 0;
  }
  .main__content .left__subscribe {
    margin-top: 100px;
  }
  .main__content .left__subscribe p {
    font-size: 1.5em;
  }
  .main__content .left__subscribtionElement {
    width: 70vw;
  }
  .main__content .left__subscribtionElement input {
    width: 60vw;
  }
  .main__content .right {
    padding: 300px 0 0 0;
    width: 100vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__content .right__player {
    max-width: 65vw;
  }
  .main__arrowDown {
    margin: -50vh 0 2vh;
  }
  .team {
    margin: 35vh 0vw 5vw;
  }
  .team__members div {
    width: 25vw;
  }
  footer {
    padding: 0;
  }
  footer .footer {
    padding: 0 2vw;
  }
  footer .links {
    padding: 6vh 7vw 0vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .links__layer1 p:after, footer .links__layer1 a:after {
    margin-left: 3vw;
  }
  footer .links__layer2 a:not(:last-child):after {
    content: "|";
    margin-left: 3vw;
  }
  .popup {
    width: 70vw;
  }
  .popup .description__text {
    font-size: xx-large;
  }
}

@media (max-width: 1000px) {
  footer p, footer a {
    font-size: small;
  }
}

@media (max-width: 500px) and (min-width: 400px) {
  .main__content {
    min-height: 100vh;
  }
  .main__arrowDown {
    margin: -47vh 0 10vh;
  }
}
/*# sourceMappingURL=style.css.map */