@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
$mainColor:#263396;
$aquaColor: #38A5DB;
$socialIconColor: #63C7FF;
$lighterColor:#3947B6;
$lightGray: #011226;
$darkGrayishCyan: #45515F;
$separatorsColor:#9CA4C7;
$darkPurple:#252B42;
$formFill:#4250BF;
$linkBlue: #0F81FF;
$letterSpacing:12px;
$borderRadius:25px;

